TextInput.unity-text-field__input {
    background-color: rgba(48, 48, 48, 72);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

/*TextElement.unity-text-element {*/
/*    background-color: rgba(255, 255, 0, 72);*/
/*}*/
