.right-btn {
    background-image: url("project://database/Packages/today.comes.saintsfield/Editor/Editor%20Default%20Resources/SaintsField/folder.png?fileID=2800000&guid=167a02fe0572d154f8bb7dc06e927e6b&type=3#folder");
}
