.right-btn {
    background-image: url("project://database/Packages/today.comes.saintsfield/Editor/Editor%20Default%20Resources/SaintsField/resources-folder.png?fileID=2800000&guid=c6bc1ea02f1d98849a81e47fcb82de96&type=3#resources-folder");
}
